@page "/nim"
@inject NavigationManager navigationManager
@inject GameState gameState
@inject Rules rules
<h1>Nim game</h1>
<h2>Current player: @gameState.Game.CurrentPlayer.Name</h2>
@for (int i = 0; i < gameState.Field.Length; ++i)
{
    <NIM.Server.Shared.NimRow Count="@gameState.Field[i]" OnTake="Take" CanTake="@CanTake(i)" RowIndex=i />
}

<div class="row justify-content-end">
    <button class="btn btn-info" @onclick="@EndTurn" disabled="@(!CanEnd)">End turn</button>
</div>
@code {


    bool CanTake(int row)
    {
        int[] futureMove = gameState.CurrentMove.Clone() as int[];
        ++futureMove[row];

        return rules.IsMoveValid(new Move(futureMove), gameState.Game.CurrentPlayground);
    }

    void Take(int row)
    {
        --gameState.Field[row];
        ++gameState.CurrentMove[row];
        this.StateHasChanged();
    }

    bool CanEnd
    {
        get
        {
            return rules.IsMoveValid(new Move(gameState.CurrentMove), gameState.Game.CurrentPlayground);
        }
    }

    protected override void OnInitialized()
    {
        Reset();
    }

    void Reset()
    {
        if (gameState.Game.State == NIM.GameState.GameOver)
        {
            navigationManager.NavigateTo("/");
            return;
        }
        gameState.CurrentMove = new int[gameState.Game.CurrentPlayground.Rows.Count];
        //Array.Copy(gameState.Game.CurrentPlayground.Rows, State);
        gameState.Field = gameState.Game.CurrentPlayground.Rows.ToArray();
        if (!(gameState.Game.CurrentPlayer is Models.Human human))
            EndTurn();
    }

    void EndTurn()
    {
        if (gameState.Game.CurrentPlayer is Models.Human human)
        {
            human.NextMove = gameState.CurrentMove;
        }
        else
        {
            Task.Delay(2000);
        }
        // get move
        gameState.Game.Step();
        // apply move
        gameState.Game.Step();
        // check conditions and if it returns false game is over and navigate to winning page
        if (!gameState.Game.Step())
        {
            navigationManager.NavigateTo("/");
        }
        gameState.CurrentMove = new int[gameState.Game.CurrentPlayground.Rows.Count];
        // choose player
        gameState.Game.Step();

        Reset();
    }

}
